*{
    padding: 0;
    margin: 0;
}
body{
    padding: 10px;
    min-width: 400px;
}
input{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
    box-sizing: border-box;
    border-radius: 2px;
}
input:focus {
    outline: none;
    border: 2px solid rgb(6, 97, 255);
}
button{
	background: #5f9341;
	color:white;
	cursor: pointer;
	font-size:14px;
	padding:10px 20px;
    border: 1px solid #5f9341;
    border-radius: 3px;
}

button:hover{
	background:#06a77c;
}

#delete-btn {
    background: white;
	color:#5f9341;
    border-style: solid 10px #5f9341;
}

ul{
    margin-top: 10px;
    list-style: none;
}

li{

}

a{
    color: black;
}